{% extends "base.html" %}



{% block base_header %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">

        // Server object that will contain the callable methods
        var server = {};

        // Insert 'Search' as the name of a callable method
        InstallFunction(server, 'Search');
        InstallFunction(server, 'StoreCache');

        var viewModel = {
            fans: ko.observableArray([])
        };

        var geocoder;
        var map;
        var infowindow;
        var latlngbounds;
        var markersArray = [];
        var oldMarkersArray = [];
        var locationCache = [];
        var notFoundCache = [];
        var numCallbacks = 0;

        var cacheSizeLimit = 10;
        function tryStoreCache() {
            if ((locationCache.length >= cacheSizeLimit) || (notFoundCache.length >= cacheSizeLimit)) {
                doStoreCache();
            }
        }
        function doStoreCache() {
            /** Since the cache is stored using GET requests, the data are sliced in order to fit in a single URL */
            while(locationCache.length || notFoundCache.length) {
                var locSlice = [];
                var undefSlice = [];
                if (locationCache.length)
                    locSlice = locationCache.splice(0,10);
                if (notFoundCache.length)
                    undefSlice = notFoundCache.splice(0,10);

                server.StoreCache(locSlice, undefSlice);
            }


        }

        function createMarker(address, tooltip, latlng, proportion, zindex) {
            latlngbounds.extend( latlng );

            var icon = new google.maps.MarkerImage('/img/marker.png');
            icon.size = new google.maps.Size(20, 34);
            icon.scaledSize = new google.maps.Size(proportion * icon.size.width, proportion * icon.size.height);
            icon.size = icon.scaledSize

            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                title: address,
                zIndex: zindex,
                icon: icon
            });
            markersArray.push(marker);

            google.maps.event.addListener(marker, 'click', function() {
                if (infowindow)
                    infowindow.close();
                infowindow = new google.maps.InfoWindow({
                    content: tooltip
                });
                infowindow.open(map,marker);
            });
        }

        function afterCallbacks() {
            numCallbacks --;
            if (numCallbacks == 0) {
                //map.panToBounds(latlngbounds);
                doStoreCache();
                $('#loader').hide();
                if (failedGeocodes > 0)  {
                    alert('There was too many geocode request (' + failedGeocodes + '), therefore not all addresses will be displayed. Try again later.');
                    failedGeocodes = 0;
                }
            }
        }

        var failedGeocodes = 0;
        function codeAddress(locations, i, notfound) {
            if (i >= locations.length)
                return;
            var location = locations[i];

            if ((location.lat != null) && (location.lng != null)) {
                var latlng= new google.maps.LatLng(location.lat, location.lng);
                createMarker(location.address, location.tooltip, latlng, location.proportion, location.zindex);
                afterCallbacks();
                codeAddress(locations, i+1, notfound);
            }  else {
                if ((notfound != null) && ($.inArray(location.address, notfound) > -1)) {
                    afterCallbacks();
                    codeAddress(locations, i+1, notfound);
                    return;
                }

                geocoder.geocode( { 'address': location.address }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var latlng = results[0].geometry.location;

                        createMarker(location.address, location.tooltip,latlng, location.proportion, location.zindex);
                        locationCache.push({
                            address: location.address,
                            lat: latlng.lat(),
                            lng: latlng.lng()
                        });
                        tryStoreCache();
                    } else {
                        if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                            // redo the current address  after 1s
                            setTimeout(function() {
                                codeAddress(locations, i);
                            },1000);
                            return;
                        } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                            notFoundCache.push(location.address);
                            tryStoreCache();
                        } else {
                            failedGeocodes++;
                        }
                    }
                    afterCallbacks();
                    // continue after 300ms
                    setTimeout(function() {
                        codeAddress(locations, i+1);
                    },200);
                });
            }
        }

        // Deletes all markers in the array by removing references to them
        function deleteOverlays() {
            if (markersArray) {
                oldMarkersArray = markersArray;
                markersArray = []
                for (i in oldMarkersArray) {
                    oldMarkersArray[i].setMap(null);
                }
                oldMarkersArray = [];
            }
        }

        function createMap(locations, notfound) {
            locationCache = [];
            notFoundCache = [];
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(50.08781, 15.42046);
            var myOptions = {
                zoom: 7,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            if (map == null)
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            else {
                deleteOverlays();
                map.setOptions(myOptions);
            }

            latlngbounds = new google.maps.LatLngBounds( );
            latlngbounds.extend(latlng);

            numCallbacks = locations.length;
            codeAddress(locations, 0, notfound);
            /*for (var i in locations) {
                if (locations[i].address != null) {
                    codeAddress(locations[i]);
                }
            }*/
        }

        // Client function that calls a server rpc and provides a callback
        function doSearch() {
            server.Search($('#search_field').val(), onSearchSuccess);
        }

        // Callback for after a successful doAdd
        function onSearchSuccess(response) {
            viewModel.fans.removeAll();

            createMap(response.locations, response.notfound);
            $('#results').show();
        }

        // Define the entry point
        $(document).ready(function()
        {

            $("#search_button").click(function() {
                $('#results').hide();
                $('#loader').show();
                doSearch();
                return false;
            });
        });
    </script>
{% endblock %}

{% block base_content %}
    <h1>Search Fans</h1>

    <div id="search">
        <div class="input"><input type="text" id="search_field" name="search_field" class="text" autocomplete="off"/></div>
        <a id="search_button" title="Search Fans" href="#"><span>Search</span></a>
    </div>
    <div id="loader" style="display: none;">
        <img src="img/ajax-loader.gif" alt="loader"/>
    </div>
    <div id="results" style="display: none; text-align: center;">
        <!--<table>
            <thead>
                <tr><th>Avatar</th><th>Full Name</th><th>Profile Url</th><th>Address</th></tr>
            </thead>
            <tbody data-bind="foreach: fans">
                <tr>
                    <td><img data-bind="attr: { src: avatarUrl }" /></td>
                    <td data-bind="text: fullName"></td>
                    <td data-bind="text: profileUrl"></td>
                    <td data-bind="text: address"></td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript">
            ko.applyBindings(viewModel);
        </script>-->

        <div id="map_canvas" style="width: 640px; height: 640px;">
    </div>


    </div>

{% endblock %}