<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="/bandzone_spy/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
		<link href="/bandzone_spy/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
		<link href="/bandzone_spy/projectsrss.xml" type="application/rss+xml" rel="alternate" title="Projects Feed" />
		<link href="/bandzone_spy/projectsatom.xml" type="application/atom+xml" rel="alternate" title="Projects Feed" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{% if page.title != "code52" %}{{ page.title }} - code52{% else %}{{ page.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="/bandzone_spy/css/style20120128.css" />
		<link rel="shortcut icon" href="/bandzone_spy/img/favicon.ico" />
	</head>
	<body>
		<div id="container">
			<div id="side">
				<a href="/bandzone_spy/" id="home" title="home" alt="home"><img src="/bandzone_spy/img/logo.png" alt="BandzoneSpy project" /></a>
				<div id="hometext"><a href="/bandzone_spy/" >BandzoneSpy</a></div>
				<div class="section">
					<ul>
						<li><a href="/bandzone_spy/about.html">about</a></li>
						<li><a href="http://twitter.com/jkeznikl">@jkeznikl</a></li>
						<li><a href="/bandzone_spy/contributing.html">contributing guide</a></li>
						<li><a href="https://github.com/keznikl/bandzone_spy.github.com/wiki">getting started</a></li>
						<li><a href="/bandzone_spy/projects.html">previous projects</a></li>
						<li><a href="/bandzone_spy/rss.xml"><img src="/img/25.png" /> announcements</a></li>
						<li><a href="/bandzone_spy/projectsrss.xml"><img src="/img/25.png" /> progress logs</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{{content}}
			</div>

		</div>
	</body>
</html>
